rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email in [
          "mydsaproduction@gmail.com"
        ];
    }

    match /posts/{postId} {
      allow read: if resource.data.status == "published" || isOwner();
      allow create, update, delete: if isOwner();
    }
  }
}
